.img-skill {
    height: 100px;
    width: 100px;
    
}
.img-skills {
    justify-content:space-around;
    display: flex;
    padding-top: 35px;
}
.titulo-skills {
    justify-content: center;
    display: flex;
    font-family: 'Rajdhani';
    font-size:34px;
    font-weight: bolder; 
    margin-top: 15px;
    color: black;
}
.conteudo-skills {
    border-bottom: 5px solid black;
    background-color: #8ecae6;
    background-image: linear-gradient(#023047 00%, #0096c7 100%);
}