.titulo-projetos {
    justify-content: center;
    display: flex;
    font-family: 'Rajdhani';
    font-size:34px;
    font-weight: bolder; 
    margin-top: 5px;
    color: black;
}
.img-projeto {
    height: 100px;
    width: 100px;
    justify-content: space-around;
}
.imgs-projeto {
    justify-content: space-around;
    display: flex; 
    padding-top: 25px;
}
.button-projeto {
    height: 160px;
    width: 160px;
    background-color: white;
    border: 5px solid black;
}



.legenda-button{
    margin-top: 2px;
    color: black;
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 18px;
}
.legenda-button2 {
    margin-top: 2px;
    color: black;
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 15px;
}