.logo-victor {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 3px solid ;
    margin-top: 5px;
    position: relative;
}
.header-nav {
    display: flex;
    background-color:black ;
    max-height: 80px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    border-bottom: 3px solid black;
    
}
.titulo {
    font-size:28px;
    margin-bottom: 0px; 
    font-weight: 500; 
   
    
}
.titulos {
    display: block;
    margin-top: 5px;
    margin-left: 0px;  
    color:white;
    font-family: 'Rajdhani';
   
    
}
.sub-titulo {
   
     font-size: 18px;
     font-weight: 400;
     margin-bottom: 10px;
     font-style: oblique;
     padding-left: 22px;   
}

