.logo-victor {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    flex-direction: end;
    
}
.header-nav {
    display: flex;
    background-color: #1E96FC;
    max-height: 80px;
    
}
.titulos {
    display: block;
}
